# Tạo chuỗi thời gian:
- Từ nhiều nguồn khác nhau
-

In [32]:
import pandas as pd
import numpy as np

##### Từ định dạng ngày tháng bất kì

In [56]:
pd.to_datetime(['2018,02,01'])

DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq=None)

In [60]:
pd.to_datetime(["4th of July, 2021"])

DatetimeIndex(['2021-07-04'], dtype='datetime64[ns]', freq=None)

##### Từ np.datatime64

In [59]:
np.datetime64('2015-07-04')

numpy.datetime64('2015-07-04')

##### Tổng hợp từ nhiều nguồn:

In [62]:
import datetime
dti= pd.to_datetime(['2018/03/15', np.datetime64('2021-12-03'), datetime.datetime(2019, 2, 4)])
dti

DatetimeIndex(['2018-03-15', '2021-12-03', '2019-02-04'], dtype='datetime64[ns]', freq=None)

### Tạo một chuỗi thời gian với tần suất cố định:
 Dựa vào phương thức: date_range('start','end', freq= " ", periods= none)
* start: mốc thời gian bắt đầu, có thể là định dạng đầy đủ "năm/tháng/ngày" hoặc "thangs/ngay/ năm" hoặc chỉ có "năm"
* end: mốc thời gian kết thúc( có thể có hoặc không cũng được)
* freq: có thể là một trong những lựa chọn dưới đây, tùy theo yêu cầu về kiểu tần suất:
      D : nhảy theo ngày, từng ngày một
      M : nhảy theo tháng, từ cuối thnags này đến cuối tháng khác, từng tháng một
      Y: nhảy theo năm, mốc cuối năm, từng năm một
* periods : tổng số bước nhảy, sẽ bỏ đi nếu có "end"

In [66]:
pd.date_range("2021", freq="D", periods= 15)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15'],
              dtype='datetime64[ns]', freq='D')

In [78]:
x1= pd.date_range("2012/1/2", "2012/1/5", freq= "D")
x1

DatetimeIndex(['2012-01-02', '2012-01-03', '2012-01-04', '2012-01-05'], dtype='datetime64[ns]', freq='D')

In [79]:
pd.date_range("2020", freq="M", periods= 12)

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

# 2. Chuyển đổi thời gian: 


##### Chuyển series về datetime và ngược lại:
- chuyển từ series : sử dụng pd.to_datetime(serires_name)

In [100]:
# Series ban đầu:
SR1=pd.Series(["2/9/1945",'2-9-2021','Jun 20, 2019'])    
SR1

0        2/9/1945
1        2-9-2021
2    Jun 20, 2019
dtype: object

In [103]:
# tiến hành chuyển đổi:
dti_1= pd.to_datetime(SR1)
dti_1

0   1945-02-09
1   2021-02-09
2   2019-06-20
dtype: datetime64[ns]

In [33]:
# Tạo một Dataframe ban đầu:
df= pd.DataFrame({'Year': [2015,2016,2017,2018],
                  'Month':[1,2,3,4],
                   'Day':[20,21,22,23]})
df

   Year  Month  Day
0  2015      1   20
1  2016      2   21
2  2017      3   22
3  2018      4   23

In [127]:
dtime= pd.to_datetime(df[['Year', 'Month','Day']])
dtime

0   2015-01-20
1   2016-02-21
2   2017-03-22
3   2018-04-23
dtype: datetime64[ns]

In [131]:
pd.to_datetime(df[['Day','Month','Year']])

0   2015-01-20
1   2016-02-21
2   2017-03-22
3   2018-04-23
dtype: datetime64[ns]

 - chuyển từ datetime sang series: sử dụng hàm ### pd.date_range('start',freq= '', periods= None)

In [106]:
# datetime ban đầu:
dti_2= pd.date_range(datetime.datetime(2021,2,1), freq= "D", periods= 10)
dti_2

DatetimeIndex(['2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
               '2021-02-05', '2021-02-06', '2021-02-07', '2021-02-08',
               '2021-02-09', '2021-02-10'],
              dtype='datetime64[ns]', freq='D')

In [108]:
# Tạo một series với index= dti_2
SR2= pd.Series(np.random.randn(10), index= dti_2)
SR2

2021-02-01    0.045926
2021-02-02   -0.850059
2021-02-03    1.082454
2021-02-04    0.773482
2021-02-05    0.699789
2021-02-06   -0.257965
2021-02-07   -1.297640
2021-02-08    0.107754
2021-02-09    0.177030
2021-02-10   -0.116381
Freq: D, dtype: float64

In [113]:
#dạo một series với [data]= dti_2
SR3= pd.Series(dti_2, index= np.random.randn(10))
SR3

 2.162447   2021-02-01
-1.553830   2021-02-02
 0.934494   2021-02-03
 1.386791   2021-02-04
-0.174516   2021-02-05
-0.244038   2021-02-06
-1.443561   2021-02-07
-0.813886   2021-02-08
 0.660608   2021-02-09
 0.054460   2021-02-10
dtype: datetime64[ns]

In [115]:
#  taok một dataframe với [data]= dti_2
df_1= pd.DataFrame(dti_2, index=['A' +str(i) for i in range(10)],
                  columns=['B'])
df_1

            B
A0 2021-02-01
A1 2021-02-02
A2 2021-02-03
A3 2021-02-04
A4 2021-02-05
A5 2021-02-06
A6 2021-02-07
A7 2021-02-08
A8 2021-02-09
A9 2021-02-10

In [117]:
# Tạo một dataframe với index= dti_2
df_2= pd.DataFrame(np.random.randn(10), index= dti_2, columns= ['Value'])
df_2

               Value
2021-02-01 -1.174286
2021-02-02  1.671786
2021-02-03  0.726769
2021-02-04  0.165506
2021-02-05  0.081306
2021-02-06 -0.011402
2021-02-07  1.154684
2021-02-08  0.523002
2021-02-09 -0.109953
2021-02-10  0.753549

In [83]:
idx = pd.date_range(start="2019-12-29", freq="D", periods=4)
idx.isocalendar()

            year  week  day
2019-12-29  2019    52    7
2019-12-30  2020     1    1
2019-12-31  2020     1    2
2020-01-01  2020     1    3

In [88]:
new= idx.to_series().dt.isocalendar()

In [90]:
new

            year  week  day
2019-12-29  2019    52    7
2019-12-30  2020     1    1
2019-12-31  2020     1    2
2020-01-01  2020     1    3

In [94]:
new['abc']= idx.strftime('%A')
new

            year  week  day        abc
2019-12-29  2019    52    7     Sunday
2019-12-30  2020     1    1     Monday
2019-12-31  2020     1    2    Tuesday
2020-01-01  2020     1    3  Wednesday

In [152]:
pd.date_range('2020',periods=90, freq=pd.offsets.Week(weekday=6))

DatetimeIndex(['2020-01-05', '2020-01-12', '2020-01-19', '2020-01-26',
               '2020-02-02', '2020-02-09', '2020-02-16', '2020-02-23',
               '2020-03-01', '2020-03-08', '2020-03-15', '2020-03-22',
               '2020-03-29', '2020-04-05', '2020-04-12', '2020-04-19',
               '2020-04-26', '2020-05-03', '2020-05-10', '2020-05-17',
               '2020-05-24', '2020-05-31', '2020-06-07', '2020-06-14',
               '2020-06-21', '2020-06-28', '2020-07-05', '2020-07-12',
               '2020-07-19', '2020-07-26', '2020-08-02', '2020-08-09',
               '2020-08-16', '2020-08-23', '2020-08-30', '2020-09-06',
               '2020-09-13', '2020-09-20', '2020-09-27', '2020-10-04',
               '2020-10-11', '2020-10-18', '2020-10-25', '2020-11-01',
               '2020-11-08', '2020-11-15', '2020-11-22', '2020-11-29',
               '2020-12-06', '2020-12-13', '2020-12-20', '2020-12-27',
               '2021-01-03', '2021-01-10', '2021-01-17', '2021-01-24',
               '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
               '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21',
               '2021-03-28', '2021-04-04', '2021-04-11', '2021-04-18',
               '2021-04-25', '2021-05-02', '2021-05-09', '2021-05-16',
               '2021-05-23', '2021-05-30', '2021-06-06', '2021-06-13',
               '2021-06-20', '2021-06-27', '2021-07-04', '2021-07-11',
               '2021-07-18', '2021-07-25', '2021-08-01', '2021-08-08',
               '2021-08-15', '2021-08-22', '2021-08-29', '2021-09-05',
               '2021-09-12', '2021-09-19'],
              dtype='datetime64[ns]', freq='W-SUN')

In [26]:

pd.date_range('2021/1/2', periods= 10, freq=pd.offsets.CDay(weekmask= 'Mon Tue Wed Thu Fri Sat'))

DatetimeIndex(['2021-01-02', '2021-01-04', '2021-01-05', '2021-01-06',
               '2021-01-07', '2021-01-08', '2021-01-09', '2021-01-11',
               '2021-01-12', '2021-01-13'],
              dtype='datetime64[ns]', freq='C')

In [2]:
import pandas as pd
import datetime

In [11]:
x= pd.to_datetime(['2020/2/1'])
x

DatetimeIndex(['2020-02-01'], dtype='datetime64[ns]', freq=None)

In [13]:
y= x+pd.offsets.WeekOfMonth(week=1,weekday=1)
y

DatetimeIndex(['2020-02-11'], dtype='datetime64[ns]', freq=None)

# How to use Freq
- cung cấp cho pandas cách lựa chọn tần suất thời gian, thời điểm phù hợp với yêu cầu người dùng
- cách để triệu hồi 1 freq lên đó là dùng:

 (1) freq= 'M/D/B...' . với các chữ cái viết hoa của tùy chỉnh thời gian, cách này sẽ chọn theo đặc trưng mặc định của tùy chỉnh đó, ta ko điều chỉnh được.
 
 (2) freq= pd.offsets.BDay/CDay/.....   Với cách này ta có thể điều chỉnh được thời điểm trong tùy chỉnh thời gian mà mình mong muốn, trình bày cụ thể dưới đây

##### BDay : ('B')
freq= pd.offsets.BDay()
* ngày làm việc trong tuần ( ngày hành chính đó) trừ thứ 7 và chủ nhật đi.
* mặc định là từ thứ 2- thứ 6, không điều chỉnh

Ví dụ 1:

In [20]:
pd.date_range("2021/1/2", periods= 10, freq='B')      # viet tat

DatetimeIndex(['2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07',
               '2021-01-08', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15'],
              dtype='datetime64[ns]', freq='B')

In [23]:
pd.date_range("2021/1/2", periods= 10, freq=pd.offsets.BDay())    #viet day du

DatetimeIndex(['2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07',
               '2021-01-08', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15'],
              dtype='datetime64[ns]', freq='B')

##### CDay ('C')
freq= pd.offsets.CDay(weekmask= ' Mon Tue Wed Thu Fri Sat Sun')
* weekmask: ta có thể tùy chọn các thứ được in ra trong danh sách thứ trên. Dạng list nhé
* Mặc định: method này sẽ cho ta mặc định là từ thứ 2 đến thứ 6

ví dụ 2: lựa chọn tất cả các ngày trong tuần trừ thứ tư

In [28]:
pd.date_range('2021/1/2', periods= 10, freq=pd.offsets.CDay(weekmask= 'Mon Tue Thu Fri Sat'))

DatetimeIndex(['2021-01-02', '2021-01-04', '2021-01-05', '2021-01-07',
               '2021-01-08', '2021-01-09', '2021-01-11', '2021-01-12',
               '2021-01-14', '2021-01-15'],
              dtype='datetime64[ns]', freq='C')

In [38]:
army_game= pd.DataFrame([{'Viet Nam': [1,2],'china': 2,'Russia':3,'Siria':4}, {'a':2,'b':3,'c':4,'d':5}])
army_game

  Viet Nam  china  Russia  Siria    a    b    c    d
0   [1, 2]    2.0     3.0    4.0  NaN  NaN  NaN  NaN
1      NaN    NaN     NaN    NaN  2.0  3.0  4.0  5.0

In [41]:
import time
time.sleep(1)    # 5 minutes and 30 seconds = 330 seconds
from datetime import time
print(time(20,15,25))

20:15:25

In [43]:
words = ["rain", "sun", "moon", "exit", "weather"]
  
for word in words:
        #checking for the breaking condition
        if word == "exit" :
                #if the condition is true, then break the loop
                break;
        if word == "moon" :
                #this statement will be executed
                print("moon is skipped")
                continue
                #this statement won't be executed
                print ("This won't be printed")  
        #Otherwise, print the word
        print (word)

rain
sun
moon is skipped

In [2]:
data = ['root:x:0:0:root:/root:/bin/bash\n', 'bin:x:1:1:bin:/bin:/sbin/nologin\n', 'daemon:x:2:2:daemon:/sbin:/sbin/nologin\n', 'adm:x:3:4:adm:/var/adm:/sbin/nologin\n', 'lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin\n', 'shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown\n', 'mail:x:8:12:mail:/var/spool/mail:/sbin/nologin\n', 'operator:x:11:0:operator:/root:/sbin/nologin\n', 'polkitd:x:997:995:User for polkitd:/:/sbin/nologin\n', 'unbound:x:996:993:Unbound DNS resolver:/etc/unbound:/sbin/nologin\n', 'usbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin\n', 'geoclue:x:994:991:User for geoclue:/var/lib/geoclue:/sbin/nologin\n']

data

['root:x:0:0:root:/root:/bin/bash\n',
 'bin:x:1:1:bin:/bin:/sbin/nologin\n',
 'daemon:x:2:2:daemon:/sbin:/sbin/nologin\n',
 'adm:x:3:4:adm:/var/adm:/sbin/nologin\n',
 'lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin\n',
 'shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown\n',
 'mail:x:8:12:mail:/var/spool/mail:/sbin/nologin\n',
 'operator:x:11:0:operator:/root:/sbin/nologin\n',
 'polkitd:x:997:995:User for polkitd:/:/sbin/nologin\n',
 'unbound:x:996:993:Unbound DNS resolver:/etc/unbound:/sbin/nologin\n',
 'usbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin\n',
 'geoclue:x:994:991:User for geoclue:/var/lib/geoclue:/sbin/nologin\n']

In [4]:
import random
while input("Do You Want To Continue? [y/n]") == "y":
    # do something
    x= random.choices(data,k=5)
    count=0
    for i in x:
        count=count +1
        print(count,i)

Do You Want To Continue? [y/n]y
1 adm:x:3:4:adm:/var/adm:/sbin/nologin

2 geoclue:x:994:991:User for geoclue:/var/lib/geoclue:/sbin/nologin

3 mail:x:8:12:mail:/var/spool/mail:/sbin/nologin

4 shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown

5 polkitd:x:997:995:User for polkitd:/:/sbin/nologin

Do You Want To Continue? [y/n]y
1 shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown

2 unbound:x:996:993:Unbound DNS resolver:/etc/unbound:/sbin/nologin

3 unbound:x:996:993:Unbound DNS resolver:/etc/unbound:/sbin/nologin

4 mail:x:8:12:mail:/var/spool/mail:/sbin/nologin

5 root:x:0:0:root:/root:/bin/bash

Do You Want To Continue? [y/n]n

In [5]:
i = 1  
  
while True:  
    print(i)  
    i = i + 1  
    if(i > 5):  
        break

1
2
3
4
5